
.logo{
    width: 57px;
    &__text{
      margin-left: 20px;
    }
}


.header{
  &-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    &__text{
      margin-right: 30px;
    }
    &-items{
      display: flex;
      align-items: center;
    }
    &__logo{
      display: flex;
    }
  }
  &__title{
    
    font-size: 32px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 5px;
  }
  &__text{
    margin-bottom: 61px;  
  }
  &-main{
    height: 596px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(217, 217, 217, 0) 100%);
  }
  &__button{
    border: 1px solid #141111;
    background-color: transparent;
    padding: 12px 24px;
    cursor: pointer;
    transition: all .5s;
    &:hover{
      background-color: #141111;
      color: white;
    }
  }
}

.door{
  cursor: pointer;
}

.popup{
  position: fixed;
  width: 100vw;
  form{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.747);
  top: 0;
  left: 0;
  &__exit{
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 10px;
    width: 30px;
    height: 30px;
  }
  &__title{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }
  &-content{
      background-color: #fff;
      position: relative;
      width: 825px;
      height: 397px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &.auth{
        justify-content: center;
      }
  }
  &__text{
    margin: 0 auto;
    width: 100%;
    height: 60%;
    margin-bottom: 30px;
    padding: 10px;
  }
}


 .popupenter-active, .popup-leave-active { transition: opacity .5s; }
  .popup-enter, .popup-leave-active { opacity: 0; }
