
$font-main: Roboto;

// ОСНОВНЫЕ
//Блоки
  $main_bck: #EDEDED; //цвет заднего фона
  $item_block: #fff; //цвет блока конетента
  $header_clr: #DB2504; //цвет header
//Блоки
  $border-color: #EDEDED; // цвет hr
  $text-clr: #000; //цвет текста
  $text-clr_active: #1760EB; //цвет активного текста
  $item-white-txt: #fff;
// ОСНОВНЫЕ




